<h3>Feeds: ReadOne</h3>

<% if user_signed_in? %>
  <p>
    Eventually this will display only <strong>your</strong> feeds.
  </p>
  <p>

  <p>Listing All Feed links</p>
 
<!--   <table>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
 
  <table><% @feeds.each do |feed| %>
    <tr>
      <td><%= feed.feedurl %></td>
      <td><%= feed.user %></td>
      <td><%= link_to "Show", feed %></td>
      <td><%= link_to "Edit", edit_feed_path(feed) %></td>
      <td><%= link_to "Remove", feed, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table>
    
  <br>
 
  <%= link_to "New Feed", new_feed_path %>
    
  </p>
  <% else %>
    <p>
      <h3>
        <ul><%= link_to 'Sign in here', new_user_session_path %></ul>
        <ul><p> or </p></ul>
        <ul><%= link_to 'Sign up here', new_user_registration_path %></ul>
      </h3>
    </p>
  <% end %>
